// Fonts
@font-face {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/baloo2/v2/wXKrE3kTposypRyd51jcAA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$yellow: #ffde59;
$yellow2: rgba(255, 222, 89, 0.1);
$black: #000000;
$grey: rgba(50, 50, 50, 1);
$gray: rgba(100, 100, 100, 1);
$blue: #00cdff;
$green: #00ffa1;
$red: #ff002f;
$bgcolor1: #d2af02;
$bgcolor2: #eac74c;
$border: rgba(0, 0, 0, 0.2);
//font-size: clamp(1em, 1em + 1vw, 1.5em);
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Do Hyeon", sans-serif;
    font-family: "Oswald", sans-serif;
    overflow: hidden;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin displa-flex($direction, $content, $align) {
    display: flex;
    align-items: $align;
    justify-content: $content;
    flex-direction: $direction;
}

header {
    @include size(100vw, 80px);
    @include displa-flex(row, center, center);
    position: fixed;
    .container {
        @include size(70vw, 100%);
        @include displa-flex(row, flex-start, center);
        figure {
            @include size(100px, 100%);
            @include displa-flex(row, center, center);
            img {
                @include size(100px, 80px);
                position: absolute;
                top: 0px;
            }
        }
    }
}

nav {
    ul {
        @include size(auto, 100vh);
        @include displa-flex(column, center, center);
        position: fixed;
        right: 25px;
        top: 0%;
        li {
            @include size(15px, 15px);
            @include displa-flex(row, center, center);
            background-color: #ffde59cc;
            margin: 5px 0px;
            border-radius: 50%;
            span {
                @include size(60%, 60%);
                background-color: #000;
                border-radius: 50%;
            }
        }
    }
}

main {
    @include size(100vw, 100vh);
    @include displa-flex(row, center, center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.85)), url("../img/article1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container {
        @include size(70vw,
        100%);
        @include displa-flex(row,
        flex-start,
        center);
        h1 {
            @include size(80%,
            auto);
            font-family: "poppins";
            font-size: calc(1.3rem + 1vw);
            color: $yellow;
            letter-spacing: 1px;
            text-shadow: 1px 3px 15px rgba(0, 0, 0, 1);
            span {
                display: block
            }
        }
    }
}

aside {
    @include size (200vw,
    200vh);
}

.step1 {
    @include size(100vw,
    100vh);
    @include displa-flex(row,
    center,
    center);
    .container {
        @include size(70vw,
        100vh);
        @include displa-flex(column,
        center,
        center);
        font-family: "poppins";
        font-weight: 600;
        h1 {
            text-align: center;
            font-weight: 500;
            margin: 15px 0px;
            color: #333;
            font-size: 1.7rem;
            letter-spacing: 1px;
            font-weight: 600;
        }
        h1::before {
            content: "";
            position: relative;
            background-color: #333;
            height: 3px;
            width: 160px;
            display: flex;
            margin: 0px auto;
        }
        h1::after {
            content: "";
            position: relative;
            background-color: #333;
            height: 3px;
            width: 160px;
            display: flex;
            margin: 0px auto;
        }
        p {
            @include displa-flex(column,
            center,
            center);
            text-align: center;
            font-size: 1.7rem;
            color: #333;
        }
    }
}

.step2 {
    @include size(100vw,
    100vh);
    @include displa-flex(column,
    center,
    center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.9)), url("../imagens/main2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container {
        @include size(70vw,
        100vh);
        @include displa-flex(row,
        space-around,
        center);
        div {
            @include size(100%,
            100%);
            @include displa-flex(column,
            center,
            center);
            font-family: "poppins";
            h1 {
                @include size(90%,
                auto);
                font-size: calc(1.1em + 1vw);
                color: $yellow;
                span {
                    @include size(auto,
                    auto);
                    border-bottom: 1px solid $yellow;
                }
            }
            ul {
                @include size(90%,
                auto);
                list-style: none;
                font-size: calc(0.7em + 1vw);
                color: $yellow;
                margin-top: 10px;
            }
            li {
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.step3 {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    box-shadow: 1px 3px 20px black;
    font-family: "Baloo Tamma 2", cursive;
    color: $gray;
    .container {
        width: 50%;
        height: 100%;
        h1 {
            font-size: calc(1em + 1vw);
        }
        p {
            font-size: calc(0.5em + 1vw);
            i {
                font-size: 25px;
                margin-right: 5px;
            }
        }
        .form {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            fieldset {
                border: none;
                position: relative;
            }
            legend {
                font-size: 15px;
                visibility: hidden;
                position: relative;
                top: 20px;
                left: 17px;
                color: white;
                font-family: "Baloo Tamma 2", sans-serif;
                span {
                    color: $red;
                }
            }
            input {
                width: 100%;
                height: 35px;
                margin: 0px auto;
                outline: none;
                border: 1px $border solid;
                border-radius: 10px;
                padding-left: 10px;
                &::placeholder {
                    font-family: "Baloo Tamma 2", cursive;
                    font-size: 15px;
                }
                &:focus {
                    outline: none;
                    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
                    transition: 0.4s;
                }
                &:not(:focus) {
                    transition: 0.4s;
                }
                &:focus~legend {
                    color: rgba(0, 0, 0, 0.9);
                    visibility: visible;
                    top: 0px;
                    left: 5px;
                    transition: 0.5s;
                }
                &:focus::placeholder {
                    visibility: hidden;
                    transition: 0.1s;
                }
                &:valid {
                    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
                    box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
                }
                &:valid~legend {
                    color: rgba(0, 255, 0, 0.9);
                    visibility: visible;
                    top: 0px;
                    left: 5px;
                    transition: 0.5s;
                    span {
                        color: rgba(0, 255, 0, 0.9);
                    }
                }
                &:focus:valid {
                    box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
                }
                &:not(:placeholder-shown):invalid {
                    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
                    box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
                }
                &:focus:valid~legend {
                    color: rgba(0, 255, 0, 0.7);
                }
                &:not(:placeholder-shown):invalid~legend {
                    color: rgba(255, 0, 0, 0.9);
                    visibility: visible;
                    top: 0px;
                    left: 5px;
                    transition: 0.5s;
                }
                &:focus:not(:placeholder-shown):invalid {
                    box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
                }
                &:focus:not(:placeholder-shown):invalid~legend {
                    color: rgba(255, 0, 0, 0.9);
                }
            }
            textarea {
                width: 100%;
                height: 100px;
                margin: 25px auto 0px;
                outline: none;
                border: 1px $border solid;
                border-radius: 10px;
                padding-left: 10px;
                font-size: 15px;
                resize: none;
                &::placeholder {
                    font-family: "Baloo Tamma 2", cursive;
                    font-size: 15px;
                }
                &:focus {
                    outline: none;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                    border: none;
                    transition: 0.4s;
                }
                &:not(:focus) {
                    transition: 0.4s;
                }
            }
            input[type="submit"] {
                width: 40%;
                background-color: $yellow;
                color: $gray;
                border: none;
                box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
            }
        }
    }
}